<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.ApplyMapper">

    <insert id="addApply" parameterType="com.gsxy.core.pojo.Apply" useGeneratedKeys="true" keyProperty="id">
        insert into
        apply
            (apply_flow,created_by
            ,
             <if test="communityId != null">community_id</if>
            ,created_time,message)
        values
            (#{applyFlow},#{createdBy}
        ,
             <if test="communityId != null">#{communityId}</if>
        ,#{createdTime},#{message})
    </insert>

    <update id="updateApply">
        update
        apply
        set
            status = #{applyEnum}
        where
            id = #{id}
        and
            del_flag = 0
    </update>

    <select id="queryApply" resultType="com.gsxy.core.pojo.vo.ApplyVo">
        select
            a.id,a.message,a.status,a.created_by,a.created_time,a.updated_by,a.community_id as communityId,a.updated_time
        from
            apply a
        inner join
            apply_flow af
        on
            a.apply_flow = af.id
        where
            af.type = #{type}
        and
            a.del_flag = 0
        limit
            #{page},#{limit}
    </select>

</mapper>
