<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.CommunityMapper">

    <insert id="addCommunity" parameterType="com.gsxy.core.pojo.Community" useGeneratedKeys="true" keyProperty="id">
        insert into
        community(apply_id,created_by,created_time,discription,name,teacher_id,type)
        values(#{applyId},#{createdBy},#{createdTime},#{discription},#{name},#{teacherId},#{type})
    </insert>

    <update id="updateCommunity">
        update
            community
        set
            status = #{communityStatusEnum}
        where
            apply_id = #{id}
        and
            del_flag = 0
    </update>

    <update id="delete">
        update
            community
        set
            del_flag = 1
        where
            id = #{id}
    </update>

    <update id="updateCommunityInfo">
        update
        community
        <set>
            <if test="discription != null and discription != ''">
                discription = #{discription},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy}
            </if>
        </set>
        where
            id = #{id}
        and
            del_flag = 0
        limit 1
    </update>

    <update id="deleteCommunityUser">
        update
            community_user
        set
            del_flag = 1
        where
            community_id = #{communityId}
        and
            user_id = #{userId}
        limit 1
    </update>

</mapper>
