<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.UserMapper">

    <insert id="userReg" parameterType="com.gsxy.core.pojo.User" useGeneratedKeys="true" keyProperty="id">
        insert into
            user
            (username,student_id,password,create_time,create_by)
        values
            (#{username},#{studentId},#{password},#{createTime},#{createBy})
    </insert>

    <insert id="addUserInfo">
        insert into
            user_info
            (id,name,age,birthday,college,grade,org,professional,phone,card_code)
        values
            (#{id},#{name},#{age},#{birthday},#{college},#{grade},#{org},#{professional},#{phone},#{cardCode})
    </insert>

    <update id="updateUserInfo">
        update
        user_info
        <set>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="age != null">age=#{age},</if>
            <if test="birthday != null">birthday=#{birthday},</if>
            <if test="college != null">college=#{college},</if>
            <if test="grade != null">grade=#{grade},</if>
            <if test="org != null">org=#{org},</if>
            <if test="phone != null and phone != ''">phone=#{phone},</if>
            <if test="cardCode != null and cardCode != ''">card_code=#{cardCode},</if>
            <if test="professional != null">professional=#{professional}</if>
        </set>
    </update>

    <select id="queryUser" resultType="com.gsxy.core.pojo.vo.UserVo">
        select
            u.id,u.username,u.create_time,u.create_by,u.update_time,u.update_by,
            uf.name,uf.grade,uf.college,uf.org,uf.professional,uf.card_code
        from
            user u
        inner join
            user_info uf
        on
            u.student_id = uf.id
        and
            u.student_id = #{number}
        limit 1
    </select>

    <select id="queryPermissions" resultType="java.lang.String">
        select
            urp.permission
        from
            user_role_permission urp
        inner join
            user u
        on
            urp.user_id = u.id
        and
            u.id = #{loginUserId}
        and
            urp.del_flag = 0
        and
            u.del_flag = 0
        limit 1
    </select>

    <select id="queryRolePermission" resultType="java.lang.String">
        select
            ur.permission
        from
            user_role_permission urp
        inner join
            role ur
        on
            ur.id = urp.role_id
        and
            urp.user_id = #{loginUserId}
        and
            ur.del_flag = 0
        and
            urp.del_flag = 0
    </select>

    <select id="queryPageUser" resultType="com.gsxy.core.pojo.vo.UserVo">
        select
            u.id,u.username,u.student_id,u.create_time as createdTime,u.create_by as createdBy,u.update_time as updatedTime,u.update_by as updatedBy,
            uf.name,uf.age,uf.birthday,uf.college,uf.grade,uf.org,uf.professional,uf.phone,uf.card_code
        from
            user u
        inner join
            user_info uf
        on
            u.student_id = uf.id
        where
            u.del_flag = 0
        limit #{page},#{limit}
    </select>

    <select id="queryPageUserCount" resultType="java.lang.Long">
        select
            count(1)
        from
            user u
                inner join
            user_info uf
            on
                u.student_id = uf.id
        where
            u.del_flag = 0
    </select>

</mapper>
